/*

  !!!!!!!!!!!!!!!!!
  !! Table FEVER !!
  !!!!!!!!!!!!!!!!!

*/

/**------------------------------------------------------+
//  Tables
//------------------------------------------------------*/

th,
td {
    border-bottom: 1px solid #E1E1E1;
    padding: 12px 15px;
    text-align: left;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
}
